[submodule "Carthage/Checkouts/ErrNo"]
	path = Carthage/Checkouts/ErrNo
	url = https://github.com/neilpa/ErrNo.git
[submodule "Carthage/Checkouts/LlamaKit"]
	url = https://github.com/LlamaKit/LlamaKit.git
	path = Carthage/Checkouts/Llamakit
